@model Dictionary<string, string>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@foreach (var obj in Model)
{
    <a>@obj.Key : @obj.Value</a>
    <br />
}

<a>SessionID: @HttpContextAccessor.HttpContext.Session.Id</a>