@model SearchFill.Models.Species

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Species</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <div>
                    <select asp-for="Type"class="custom-select" asp-items="Html.GetEnumSelectList<SpeciesType>()">
                        <option selected="selected" value="" >Please select</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Photo1</label>
                <div>
                    <input type="file" id="file1"
                           name="file1"
                           multiple="multiple" class="form-control-file" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Photo2</label>
                <div>
                    <input type="file" id="file2"
                           name="file2"
                           multiple="multiple" class="form-control-file" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

