@model SearchFill.Models.Person

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="CountryId" class="control-label"></label>*@
                <input asp-for="CountryId" class="form-control" type="hidden" />
                @*<span asp-validation-for="CountryId" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <label class="control-label">Country</label>

                <select class="form-control basicAutoSelect" name="simple_select"
                        placeholder="type to search..."
                        data-url="/api/CountryList" autocomplete="off"></select>
                @*<code class="basicAutoSelectSelected"></code>*@

                @* <input id="CountryName" class="form-control" placeholder="Input your country" />*@

                @*<input class="form-control basicAutoComplete" type="text" autocomplete="off" id="CountryName">*@

                
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



    <script>

            //$('.basicAutoComplete').autoComplete({
            //    resolverSettings: {
            //        url: '/api/CountryList'
            //    }
            //});

        $('.basicAutoSelect').autoComplete({
            minLength: 2
        });
        $('.basicAutoSelect').on('autocomplete.select', function (evt, item) {
            //console.log('select', item);
            $("#CountryId").val(item.value);
            //$('.basicAutoSelectSelected').html(item.value);

        });

    </script>


    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('#CountryName').autocomplete({
                source: '/api/CountryList',
                select: function (event, ui) {
                    this.value = ui.item.label;
                    $("#CountryId").val(ui.item.value);
                    return false;
                }
            });
        });
    </script>*@


}
