@model IEnumerable<SearchFill.Models.Country>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
 
<div class="card-deck">
    @foreach (var item in Model)
    {

        <partial name="_ShowCountryDeck" model="item" />

    }
</div>