@model IEnumerable<SearchFill.Models.UserRoleDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a href="/UserRole/Edit/?guid=@item.Guid">@item.Email</a>
            </td>
        </tr>
        }
    </tbody>
</table>