@model SearchFill.Models.UserRoleDTO

@{
    ViewData["Title"] = "Detail";
}

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("Roles")
        </dt>
        @foreach (var role in Model.Roles)
        {
            <dd class="col-sm-10">
                <a>@role.Key</a>
            </dd>
        }

    </dl>
</div>
<div>
    <a href="/UserRole/Edit/?email=@Model.Email">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

