@{
    ViewData["Title"] = "Free";
}

<div class="row">
    <div class="col-md-3">
        <br />
        <div>
            <input id="searchBox" class="form-control" />
        </div>
        <br />
        <div>
            <button id="btnSearch" class="btn btn-primary">Predict</button>
        </div>
    </div>




</div>
<br>
 

@section Scripts {

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script>
        $("#btnSearch").click(function () {
            var search = $("#searchBox").val();
            var obj = { SentimentText: search, Sentiment: false }; 
            
            var myJSON = JSON.stringify(obj);
            $.ajax({
                data: myJSON,
                url: '/api/Predict',
                type: 'post',
                contentType: 'application/json',
                dataType: 'text',
                success: function (data) {
                    try {
                        alert(data);
                    } catch (e) {
                        alert("Output is not valid text: " + data);
                    }
                }, error: function (request, error) {
                    alert("AJAX Call Error: " + error);
                }
            });
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

