<h1>LoginX Approver</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label class="control-label">Email</label>
                <input name="email" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">ConnectionId</label>
                <input name="connectionId" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>