@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Email</div>
        <div class="col-4"><input type="text" id="email" /></div>
    </div>
    <div class="row">
        <div class="col-2">ConnectionId</div>
        <div class="col-4"><input type="text" id="connectionId" /></div>
    </div>
    <div class="form-group">
        <input id="btnSubmit" type="button" value="Get QRCode" class="btn btn-primary" />
    </div>
    <div class="row">
        <img id="qrCode" src="/images/tree.jpg" width="200" height="200"/>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/loginx.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $("#btnSubmit").click(function () {
        //alert("hello");
        var email = $("#email").val();
        var connectionId = $("#connectionId").val();
        var obj = { Email: email, ConnectionId: connectionId };
        var input = JSON.stringify(obj);
        $.ajax({
            data: input,
            url: '/api/QRCode',
            type: 'post',
            contentType: 'application/json',
            dataType: 'text',
            success: function (data) {
                try {
                    $("#qrCode").attr("src", data);
                    
                } catch (e) {
                    alert("Output is not valid text: ");
                }
            }, error: function (request, error) {
                alert("AJAX Call Error: " + error);
            }
        });
    });
</script>