@{
    ViewData["Title"] = "Free";
}

<div class="row">
    <div class="col-md-3">
        <br />
        <div>
            <input id="searchBox" class="form-control" />
        </div>
        <br />
        <div>
            <button id="btnSearch" class="btn btn-primary">Search</button>
        </div>
        <br />
        <div>
            <button id="btnGet" class="btn btn-primary">GetPredict</button>
        </div>
    </div>




</div>
<br>
<div class="row">
    <div id="PartialContainer">
    </div>
</div>

@section Scripts {

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script>
        $("#btnSearch").click(function () {
            $("#PartialContainer").html('<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>');

            var search = $("#searchBox").val();
            $.ajax({
                url: '/Free/CountryPartial/?search=' + search + '',
                type: "GET",
                contentType: 'application/json',
                success: function (result) {
                    $("#PartialContainer").html(result);
                }
            });
        });
    </script>

    <script>
        $("#btnGet").click(function () {
            
            $.ajax({
                url: '/api/Predict',
                type: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function (data) {
                    try {
                        var htmlstr = '';
                        var parsed = JSON.parse(JSON.stringify(data));
                        for (var i = 0; i < parsed.length; i++) {
                            var jsonCountry = JSON.parse(JSON.stringify(parsed[i]));
                            //alert(jsonCountry.name);
                            htmlstr = htmlstr + '<li>' + jsonCountry.name + '</li>';
                        }
                        htmlstr = '<ul>' + htmlstr + '</ul>';
                        $('#PartialContainer').html(htmlstr);
                    } catch (e) {
                        alert("Output is not valid : " + data);
                    }
                }, error: function (request, error) {
                    alert("AJAX Call Error: " + error);
                }
            });
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

